{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merchex</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
</head>
<body>
    <nav>
        <a href="{% url 'band-list' %}">Groupes</a>
        <a href="{% url 'all-lists' %}">Listes</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'about' %}">About</a>
    </nav>
    {%block content%}{%endblock%}
</body>
</html>